<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico">-->
    <title>HanSol Express</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	
    <!-- Custom styles for this template -->
    <link href="css/carousel.CSS" rel="stylesheet">
	  <style>
		  body {
				padding-top: 5rem;
				position: relative;
				}
		  #navbar-example3{
			  padding-top : 3rem;
		  }
	  </style>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Carousel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="introduce">회사 소개</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="serviceHelper">서비스 안내</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="shiphelper">발송 도우미</a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="shiphelper">견적 문의</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <main role="main">

		


	
	
	
	
	
	
	
	
	
	
	
	
	
	
      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>회사 명 : 한솔 EXPRESS 대표자 : 이지연  주소 : 경기도 시흥시 정왕동 1235-2 시화공단 1다 101-2 사업자 번호 : 140-04-14265<br> TEL : 031)488-9888, 070-8258-9986 FAX : 031)488-9563 고객지원 : 010-2014-0178 이지연</p>
        <p>Copyright&copy; by hansolair.com All right reserved 2014-2019 , Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>
	<!-- 환율변환기 Wiget-->
	<div style="top :250pt;left:0px;position:fixed;">
		<div style="width:198px;height:auto;border:1px solid #141235;text-align:center;font-size:16px;font-family:sans-serif,Arial,Helvetica;border-top-right-radius:5px; border-top-left-radius:5px;background-color:#FFFFFF; margin:0 auto">
    	<div style="width:100%; height:24px;padding:5px 0px 0px 0px;background-color:#141235;font-weight:bold;">
        <a rel="nofollow" style="color:#FFFFFF;text-decoration:none;" href="https://www.fxexchangerate.com/">
            환율변환기
        </a>
    	</div>
    	<script type="text/javascript" src="https://w.fxexchangerate.com/converter.php?fm=USD&ft=KRW&lg=kr&am=1&ty=1">
    	</script>
		</div>
	</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <script src="js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->

  </body>
</html>
